<!-- ABOUT US -->
<section id="products" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">About Us</h2>
        
        <div class="row justify-content-center">
            <!-- Product 2 -->
            <div class="col-12 col-md-8 col-lg-6">
                <div class="text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt in mollitia asperiores dolorum facere! Architecto consequatur similique qui eveniet dignissimos excepturi illo ratione nobis voluptatibus deleniti! Ullam sed blanditiis vitae!</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
